---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ALVA-YKY'S PROJECT">
  <Header active={2} />
  <h1>项目</h1>
</Layout>

<style></style>
