---
export interface Props {
  list?: Array<{ title: string; url: string }>;
}

const {
  list = [
    {
      title: "主页",
      url: "/",
    },
    {
      title: "关于",
      url: "/about",
    },
    {
      title: "博客",
      url: "/blog",
    },
  ],
} = Astro.props;
---

<nav>
  {
    list.map((item) => (
      <a href={item.url} class="link">
        {item.title}
      </a>
    ))
  }
</nav>

<style></style>
